#file_menu{
	border:1px solid #000;
}

#file_menu .items{
	padding:0 20px;
	margin: 5px 0;
	border:0;
}

#file_menu .items li{
	display: inline;
	list-style-type: none;
}

#file_menu .items li a{
	text-decoration: none;
	color: #000;
	padding:5px 10px;
}

#file_menu .items li a:hover{
	background-color:#C8D2FA;
}